.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*MIAS*/

/* 1REM=10PX */
html{
	font-size: 62.5%;
  background-color: #282c34;
}

.flex{
  display: flex;
}

.header{
  margin-top: 1rem;
  background-color: #faca0f;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

a:link, a:visited{
  text-decoration: none;
  color: aliceblue;
}

h3{
  color: #000;
  font-size: 2rem;
}

.letras-nav,
.subMenu{
  font-size: 1.5rem;
  color: #000 !important;
  text-decoration-line: none;
  list-style:none;
}

.container-menu{
  position: relative;
}

.subMenu{
  background-color: #c29c07;
  position: absolute;
  overflow: visible;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.container-menu:hover .subMenu{
  opacity: 1;
  visibility: visible;
}

.item{
  font-size: 1.3rem;
  color: aliceblue;
}

.ul{
  width: 25rem;
}

.orden{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.fotos{
  width: 25rem;
  height: 20rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.titulo{
  font-size: 3rem;
  color: azure;
}

.precio{
  color: beige;
  border-bottom: 2px solid #acacac;
  font-size: 2rem;
  margin-top: -5rem;
}

.mover{
  flex-direction: column;
  width: 40rem;
  box-sizing: border-box;
  float: left;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
}

.alinear{
  margin-top: 10rem;
  width: 100% !important;
}

.card{
  background-color: antiquewhite;
  width: 40rem;

}

.footer{
  color: aliceblue;
  margin-top: -2rem;
  font-size: 1.5rem;
}

