.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*MIAS*/

/* 1REM=10PX */
html{
	font-size: 62.5%;
  background-color: #282c34;
}

.header{
  margin-top: 1rem;
  background-color: #faca0f;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.letras-nav,
.subMenu{
  font-size: 1.5rem;
  text-decoration-line: none;
  text-decoration: none;
  list-style:none;
}

.container-menu{
  position: relative;
}

.subMenu{
  background-color: #c29c07;
  position: absolute;
  overflow: visible;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.container-menu:hover .subMenu{
  opacity: 1;
  visibility: visible;
}

.item{
  font-size: 1.3rem;
  color: aliceblue;
}

.ul{
  width: 25rem;
}

.orden{
  display: flex;
  justify-content: space-around;
  list-style:none;
}

.fotos{
  width: 25rem;
  height: 20rem;
}

.titulo{
  font-size: 3rem;
  color: azure;
}

.precio{
  color: beige;
}